<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The World is Your Oyster</title>
</head>
<body>
    <div>
        <!-- Navigation bar -->
        <div class="nav-bar">
            <h1>The World is Your Oyster</h1>
            <div class="nav-links">
                <a href="/dashboard">Home</a> | 
                <a href="/register">Register</a>
            </div>
        </div>
        <!-- Register form -->
        <div class="index-form-container">
            <h1 id="blue-heading">Register</h1>
            <!-- Error messages, if any -->
            {% with messages = get_flashed_messages(category_filter=["register"]) %}    {# declare a variable called messages #}
                {% if messages %}                                                       {# check if there are any messages #}
                    <div class="error-message">
                        {% for message in messages %}                                   {# loop through messages #}
                            <p>{{ message }}</p>                                        {# display each message #}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/create/user" method="POST">
                <!-- First name field -->
                <div>
                    <label for="first_name">First Name:</label><br>
                    <input type="text" name="first_name">
                </div>
                <!-- Last name field -->
                <div>
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" name="last_name">
                </div>
                <!-- Email address field -->
                <div>
                    <label for="email">Email address:</label><br>
                    <input type="text" name="email">
                </div>
                <!-- Password field -->
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password">
                </div>
                <!-- Confirm password field -->
                <div>
                    <label for="confirm_password">Confirm Password:</label><br>
                    <input type="password" name="confirm_password">
                </div>
                <!-- "Login" button and signup link -->
                <div>
                    <input type="submit" value="Register" id="register-btn">
                    <p><a href="/">Already have an account? Log in here!</a></p>
                </div>
            </form>
        </div>